.hs-page-width-normal

    .row-fluid

        .span6

            h1.hs-doc-page-header

                | <a class="hs-doc-homepage-link" href="#{ linkPrefix }">#{ name }</a>

        .span6.hidden-phone

            .hs-doc-slim-github-link-wrapper

                | <a class="hs-doc-slim-github-link" href="http://#{ repo.host }/#{ repo.user }/#{ repo.name }">On GitHub</a>
